<?xml version="1.0" ?>
<launch>
	<!-- Specify a custom debug level. -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find controlit_environment_config)/config/rosconsole.config"/>

    <!-- Load the robot description parameter. -->
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find dreamer_controlit)/models/dreamer_controlit/xacro/dreamer_controlit_rviz.xacro'"/>

    <group ns="dreamer_controller/controlit">
        <include file="$(find controlit_dreamer_integration)/launch/dreamer_param_base.xml"/>
        <param name="parameters" textfile="$(find controlit_dreamer_integration)/parameters/CartesianPositionControl_RightHand.yaml"/>
        <!-- <param name="sensorSet" textfile="$(find controlit_dreamer_integration)/parameters/Sensors.yaml"/> -->
    </group>
</launch>
