<?xml version="1.0" ?>
<launch>
    <include file="$(find controlit_dreamer_integration)/launch/load_dreamer_parameters_cartpos_bothhands_6dof.launch"/>
    <include file="$(find controlit_dreamer_integration)/launch/start_controlit.launch"/>
    <node name="dreamer_interactive_markers" pkg="dreamer_controlit_demos" type="DreamerInteractiveMarkers"/>
</launch>
