<launch>
    <!-- Load the robot description parameter-->
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find dreamer_no_left_arm_controlit)/models/dreamer_no_left_arm_controlit/xacro/dreamer_no_left_arm_controlit.xacro'"/>

    <!-- Start the robot state publisher, which generates the /tf transforms for rViz. -->
    <node name="RobotInterfaceDreamerTester" pkg="controlit_dreamer_integration" type="RobotInterfaceDreamerTester"/>
</launch>
