<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" 
       value="$(find controlit_dreamer_integration)/conf/rosconsole.conf"/>

    <include file="$(find controlit_dreamer_integration)/launch/LoadRobotDescription.launch"/>

    <!-- Start the tester. -->
    <node name="RobotInterfaceDreamerTester" pkg="controlit_dreamer_integration" type="RobotInterfaceDreamerTester"/>
</launch>
