<?xml version="1.0" ?>
<launch>

    <!-- Specify the custom debug level -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find controlit_dreamer_integration)/config/rosconsole.config"/>
    
    <!-- Specify the log level and the log prefix fields -->
    <rosparam param="log_level">DEBUG</rosparam>
    <rosparam param="log_fields">["package", "file", "line", "function"]</rosparam>

    <!-- Start the ServoClockDreamerTester. -->
    <node name="ServoClockDreamerTester" pkg="controlit_dreamer_integration" type="ServoClockDreamerTester" output="screen" />
</launch>
