<launch>
    <!-- Specify the custom debug level -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find controlit_dreamer_integration)/config/rosconsole.config"/>

    <!-- Specify the log level and the log prefix fields -->
    <rosparam param="log_level">DEBUG</rosparam>
    <rosparam param="log_fields">["package", "file", "line", "function"]</rosparam>

    <!-- Load the robot description into the ROS parameter server -->
    <include file="$(find controlit_dreamer_integration)/launch/LoadRobotDescription.launch"/>

    <!-- Start the RobotInterfaceDreamer tester -->
    <node name="RobotInterfaceDreamerTester" pkg="controlit_dreamer_integration" type="RobotInterfaceDreamerTester" output="screen" />
</launch>
